PORT=3333
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=supersecretaccesskey123456789012
JWT_REFRESH_SECRET=supersecretrefreshkey123456789012

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/access_control_db

# Redis
REDIS_URL=redis://localhost:6379
